@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --brand: 359 96% 62%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --text-jumbo-size: 3.5rem;
    --text-jumbo-leading: 1.1;
    --text-xl-size: 2.75rem;
    --text-xl-leading: 1.1;
    --text-h1-size: 2.25rem;
    --text-h1-leading: 1.1;
    --text-h2-size: 1.5rem;
    --text-h2-leading: 1.2;
    --text-h3-size: 1.25rem;
    --text-h3-leading: 1.3;
    --text-h4-size: 1.125rem;
    --text-h4-leading: 1.4;
    --text-lead-size: 1.25rem;
    --text-lead-leading: 1.4;
    --text-large-size: 1.125rem;
    --text-large-leading: 1.5;
    --text-p-size: 1rem;
    --text-p-leading: 1.625;
    --text-p-ui-size: 1rem;
    --text-p-ui-leading: 1.5;
    --text-form-size: 1rem;
    --text-form-leading: 1.5;
    --text-form-small-size: 0.75rem;
    --text-form-small-leading: 1.5;
    --text-list-size: 1rem;
    --text-list-leading: 1.5;
    --text-body-size: 0.875rem;
    --text-body-leading: 1.625;
    --text-subtle-size: 0.875rem;
    --text-subtle-leading: 1.4;
    --text-small-size: 0.875rem;
    --text-small-leading: 1;
    --text-detail-size: 0.75rem;
    --text-detail-leading: 1;
    --text-blockquote-size: 1rem;
    --text-blockquote-leading: 1.5;
    --text-inline-code-size: 0.875rem;
    --text-inline-code-leading: 1.4;
    --text-table-head-size: 1rem;
    --text-table-head-leading: 1.5;
    --text-table-item-size: 1rem;
    --text-table-item-leading: 1.5;
  }

  @media screen and (min-width: 640px) {
    :root {
      --text-jumbo-size: 5.5rem;
      --text-xl-size: 4rem;
      --text-h1-size: 3rem;
      --text-h2-size: 2.25rem;
      --text-h3-size: 1.5rem;
      --text-h4-size: 1.25rem;
      --text-lead-size: 1.25rem;
      --text-large-size: 1.125rem;
      --text-p-size: 1rem;
      --text-p-ui-size: 1rem;
      --text-form-size: 1rem;
      --text-form-small-size: 0.75rem;
      --text-list-size: 1rem;
      --text-body-size: 0.875rem;
      --text-subtle-size: 0.875rem;
      --text-small-size: 0.875rem;
      --text-detail-size: 0.75rem;
      --text-blockquote-size: 1rem;
      --text-inline-code-size: 0.875rem;
      --text-table-head-size: 1rem;
      --text-table-item-size: 1rem;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;
      --brand: 359 96% 62%;
      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;
      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }
}

@layer base {
  *,
  *::after,
  *::before {
    border-color: hsl(var(--border));
  }

  body {
    @apply bg-background text-foreground font-body;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input[type="search"]::-ms-clear,
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  .text-jumbo,
  .text-xl {
    letter-spacing: -0.027em;
  }

  .text-h1 {
    letter-spacing: -0.01em;
  }

  .text-h2 {
    letter-spacing: -0.0075em;
  }

  .text-h3 {
    letter-spacing: -0.006em;
  }

  .text-h4 {
    letter-spacing: -0.005em;
  }

  .text-jumbo,
  .text-xl,
  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-large {
    @apply font-heading font-extrabold;
  }

  .truncate-2,
  .truncate-3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @supports (-webkit-box-orient: vertical) {
    .truncate-2 {
      display: -webkit-box;
      white-space: initial;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .truncate-3 {
      display: -webkit-box;
      white-space: initial;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
